@import 'variables.less';
.btnGroup {
    position: absolute;
    width: @btnWidth;
    height: 100%;
    right: 20px;
    top: 0;
    // margin-left: 100%;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}
:global(.ant-list-item) {
    &:hover .btnGroup {
        opacity: 1;
    }
}
