@import 'variables.less';
.btnGroup {
    position: absolute;
    width: 2 * @btnWidth;
    left: 0;
    margin-left: 100%;
    transition: margin-left ease-in-out 0.2s;
}
:global(.ant-list-item) {
    &:hover .btnGroup {
        margin-left: calc(100% - 2 * @btnWidth);
    }
}
