.listWrapper {
    :global(.ant-list-item) {
        &:hover {
            background-color: #e6f7ff;
            transition: all ease-in-out 0.2s;
        }
        position: relative;
        overflow: hidden;
    }
    max-height: 720px;
    overflow: auto;
}
.wrapper {
    width: 500px;
    // min-height: 500px;
    margin: 0 auto;
    padding-top: 32px;
}
.footer {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noData {
    justify-content: center;
}
