.wrapper {
    .borderLine(@border-property) {
        @borderColor: #f0f0f0;
        @{border-property}: solid 1px @borderColor;
    }
    width: 500px;
    margin: 0 auto;
    .borderLine(border);
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .borderLine(border-bottom);
        height: 52px;
        padding: 0 16px;
    }
}
